[submodule "src/fss_time/third_party/HELICS"]
	path = src/fss_time/third_party/HELICS
	url = https://gitee.com/shu-peixuan/HELICS.git
[submodule "src/fss_sensing/third_party/marsim_render"]
	path = src/fss_sensing/third_party/marsim_render
	url = https://gitee.com/shu-peixuan/marsim_render.git
